.city-info {
    text-align: center;
    margin: 20px auto;
}
.city-info h3 {
    width: 85%;
    margin:  0 auto;
  padding: 10px 0;
    text-transform: capitalize;
    text-align: center;
    font-size: 28px;
    text-transform: capitalize;
    color: #285563;
    border-bottom: 1px solid black;
}



.row-container {
    width: 95%;
    margin: 2vh auto;
    text-align: center;
    font-family: 'open sans';
}
.row-container .day {
    font-size: 30px;
    font-weight: 500;
}
.row {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    color: white;
    font-size: 14px;
    
    
}

.row-element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    height: 120px;
    margin: 5px;
    background-color: #285563;
    box-shadow: 0 15px 15px 8px rgba(0, 0, 0, .3);
}
.time {
    font-size: 18px;
}
.temp {
    font-size: 20px;
}

@media (orientation:landscape) {
    .row-container {
        width: 55%;
    }
}
@media(min-width:767px) {
    .city-info h3 {
        width: 55%;

    }
    .row-container {
        width: 55%;
    }
    .time {
        font-size: 22px;
    }
    .temp {
        font-size: 24px;
    }
    .row-element {
        padding: 15px;
        height: 150px;
        margin: 5px;
        background-color: #285563;
    }
}
@media(min-width:1200px) {
    .row-container {
        width: 40%;
    }
}
@media(min-width:1600px) {
    .row-container {
        width: 30%;
    }
}